<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Add User</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Role</label>
			<div class="col-sm-8">
				<select class="form-select" id="iRole" aria-label="Category-role">
					<option value="1">admin</option>
					<option value="2">pasien</option>
					<option value="3">dokter</option>
					<option value="4">faskes</option>
				</select>
			</div>
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Email</label>
			<div class="col-sm-8">
				<input type="email" class="form-control" id="iEmail">
			</div>
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Password</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="iPassword">
			</div>
		</div>
		<div class="mb-4 row ">
			<div class="col-sm-8 ">
				<button type="button" class=" btn btn-secondary btnKembali ">Kembali</button>
				<button type="button" class=" btn btn-primary btn-add ">Simpan</button>
			</div>
		</div>


	</div>
</div>

</body>
<script type="text/javascript" src="/usermanagement/add.js"></script>


</html>