<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Add Menu</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="iNm">
			</div>
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Url</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="iUrl">
			</div>
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Parent</label>
			<div class="col-sm-8">
				<select class="form-select " id="iParent" aria-label="Category-variant">
				</select>
			</div>
		</div>
		<div class="mb-4 row ">
			<div class="col-sm-8 ">
				<button type="button" class=" btn btn-secondary btnKembali ">Kembali</button>
				<button type="button" class=" btn btn-primary btn-add ">Simpan</button>
			</div>
		</div>


	</div>
</div>

</body>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/hakakses/add.js"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

</html>