
<div class="container mt-3 mb-3">
	<div class="card">
		<div class="modal-header">
			<h3 class="modal-title">Edit Hubungan Pasien</h3>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>

		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Nama</label> <input type="text"
							class="form-control form-control-lg" id="iNama"> <span
							id="namecheck" style="color: red;">*name is missing </span>
					</div>

					<div>
						<button class="btn btn-primary" type="submit" id="btnsave">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/hubungan/edithubungan.js"></script>
