<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Update Hak Akses</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">ID</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="iId" readonly="readonly", disabled="disabled">
			</div>
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="iNm" >
			</div>
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Code</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="iCd" >
			</div>
		</div>
		<div class="mb-4 row ">
			<div class="col-sm-8 ">
				<button type="button" class=" btn btn-secondary btnKembali ">Kembali</button>
				<button type="button" class=" btn btn-primary bt-update ">Simpan</button>
			</div>
		</div>


	</div>
</div>

</body>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/hakakses/update.js"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

</html>