
<body>

			<div class="row">
				<div class="col">
					<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="/">Beranda</a></li>
							<li class="breadcrumb-item active" aria-current="page">Profile</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<img src="" alt="avatar"
								class="rounded-circle img-fluid gambar" style="width: 150px;">
							<h5 class="my-3" id="nama">Nama User</h5>
							<p class="text-muted mb-1" id="sejak">Sejak 2020</p>

							<div class="d-flex justify-content-center mb-2">
							</div>
						</div>
						<div class="card-body p-0">
							<ul class="list-group list-group-flush rounded-3">
								<li
									class="d-flex justify-content-between align-items-center mx-3 my-2">
									<p class="mb-0"
										style="color: #55acee; text-align: center; font-weight: bold; font-size: 15px;">Pasien
									</p>
								</li>
								<li
									class="d-flex justify-content-between align-items-center mx-3 my-2">
									<p class="mb-0"
										style="color: #55acee; text-align: center; font-weight: bold; font-size: 15px;">Pembelian Obat
									</p>
								</li>
								<li
									class="d-flex justify-content-between align-items-center mx-3 my-2">
									<p class="mb-0"
										style="color: #55acee; text-align: center; font-weight: bold; font-size: 15px;">Rencana Kedatangan
									</p>
								</li>
								<li
									class="d-flex justify-content-between align-items-center mx-3 my-2">
									<p class="mb-0"
										style="color: #55acee; text-align: center; font-weight: bold; font-size: 15px;">Riwayat Chat Dokter
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-8">
					<div class="card mb-2">
						<div class="card-body" >
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link profile2 "
									data-toggle="tab" href="#" title="/profile2" role="tab"
									aria-controls="profile" aria-selected="true"> Profil
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link tabalamat" 
									data-toggle="tab" href="#" title="/viewtabalamat" role="tab" 
									aria-controls="profile" aria-selected="false">Alamat 
									</a>
								</li>
								<li class="nav-item hiden">
									<a class="nav-link profile"
									data-toggle="tab" href="#" title="/tabpembayaran" role="tab"
									aria-controls="profile" aria-selected="false">Pembayaran
									</a>
								</li>
							</ul>
							<main>
								<div class="isimain container mt-3 "></div>
							</main>
							<footer class="py-4 bg-light mt-auto"> </footer>
						</div>
					</div>
				</div>
			</div>

</body>
<script type="text/javascript" src="/profile/profile.js"></script>

