
<div class="modal-header">
        <h4 class="modal-title">Delete Bank</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
<div class="container mt-3">

	<table class="table table-sm align-middle">
		<tr>
			<td>Id : </td>
			<td> <input type="text" id="iId" readonly="readonly" disabled="disabled"> </td>
		</tr>
		<tr>
		<td>Name : </td>
			<td> <input type="text" id="iName"readonly="readonly" disabled="disabled"> </td>
		</tr>
		<tr>	
		<td>Kode: </td>
			<td> <input type="text" id="iKode"readonly="readonly" disabled="disabled"> </td>
		</tr>
	
	
		<tr>
			<td> <input id="delete" type="button" class="btn btn-danger"  value="save">
			<input type="button" class="btn btn-primary" value="kembali" id="tkembali"> </td>
		</tr>
	</table>
</div>


<script type="text/javascript" src="/bank/delete.js"></script>
